body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

h1, h2 {
    text-align: center;
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input.error {
    border: 2px solid red; /* Hata durumunda kırmızı border */
}

.password-container {
    position: relative; /* Konumlandırma için */
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

p {
    text-align: center;
}

.success {
    color: green;
}

.error {
    color: red;
}

#loading-screen {
    display: none; /* Varsayılan olarak gizli */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed; /* Sayfa üzerinde tam ortada */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white; /* Beyaz arka plan */
    z-index: 10; /* Üstte görünmesi için */
}

.loader {
    border: 8px solid transparent; /* Arka planı şeffaf yap */
    border-top: 8px solid #3498db; /* Mavi üst */
    border-radius: 50%; /* Daire yap */
    width: 40px; /* Boyut */
    height: 40px; /* Boyut */
    animation: spin 1s linear infinite; /* Döndürme animasyonu */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
